
a {
  text-decoration: none;
  color:black;
}

/* HEADER */

header{
  min-height: 70px; 
  background-color: blueviolet;
}


.kj_container {
  width: 100%;
  padding: 0 10px;
  background-color: rgb(198, 147, 247);
  margin: 0 auto;
}
.k-container {
  width: 60%;
  margin: 0 auto;
}
.col {
  background-color: rgb(231, 207, 253);
}

.ham-menu {
  text-align: right;
}

.menu-right div {
  margin-left: 10px;
  color:black;
}
h2,
h3 {
  font-size: 1.5em;
}
h1,h2,h3,.menu-right {
  text-transform: uppercase;
}
/* JUMBOTRON */


.jumbotron,
#article  {
  background-color: rgb(175, 241, 155);
}
.jumbotron {
  min-height: 500px;
  background-color: #1ABC9C;
}
.jumbo-content{
  width: 380px; 
  background-color: aquamarine; 
}
.jumbo-content .box{
  width: 70%;
  min-height: 260px;
  background-color: rgb(127, 146, 255); 
}

/* LIBRARY */
#library, 
#information {
  margin: 3% 6%;
}
.kj-card {
  min-height:250px; 
}

#article {
  min-height: 200px;
  padding-top: 30px;
}

#article .col{
  min-height: 50px;
}

#article.col2 {
  min-height: 150px;
}

#contact {
  margin: 3% 6%;
  background-color: rgb(188, 188, 255);
}

#contact .col-9 {
  min-height: 60px;
}


footer {
  background-color: rgb(99, 75, 238);
}

.icons-web i {
  display: inline-block;
  width: 40px;
  margin: 0 5px 1rem 5px;
  padding: 10px;
  border: 1px solid black;
  border-radius: 50%;
}

#information .col-12 {
  margin: 20px 0;
}


@media (max-width: 576px) {
  #library {
    margin: 0 1%;
  }

  #library .col {
    min-height:300px; 
  }
}












/* DEBUG */

.debug {
  background-color: rgba(255, 0 , 0, .3);
  border: 1px solid black;
}
.debug2 {
  background-color: rgb(255, 122, 122);
}
.dsp-flex{
  display: flex;
}

